[submodule "spring-core-principles-basic"]
	path = spring-core-principles-basic
	url = https://github.com/yju0808/spring-core-principles-basic.git
[submodule "spring-mvc-part-1"]
	path = spring-mvc-part-1
	url = https://github.com/yju0808/spring-mvc-part-1.git
[submodule "spring-mvc-part-2"]
	path = spring-mvc-part-2
	url = https://github.com/yju0808/spring-mvc-part-2.git
[submodule "spring-database-part-1"]
	path = spring-database-part-1
	url = https://github.com/yju0808/spring-database-part-1.git
[submodule "spring-database-part-2"]
	path = spring-database-part-2
	url = https://github.com/yju0808/spring-database-part-2.git
[submodule "submodules/spring-core-principles-advanced"]
	path = submodules/spring-core-principles-advanced
	url = https://github.com/yju0808/spring-core-principles-advanced.git
